.app__LinksList h3 {
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
}
.app__LinksList li a {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  cursor: pointer;
  color: var(--color-gray);
}